{
  "openapi": "3.0.0",
  "info": {
    "title": "PicoBello API",
    "version": "1.0.0",
    "description": "API documentation for the Floowly backend services."
  },
  "servers": [
    {
      "url": "https://go.picobello.app/api"
    }
  ],
  "paths": {
    "/workflows/{workflowId}/trigger": {
      "post": {
        "summary": "Trigger a workflow execution",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Initial data for the workflow execution"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "execution_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing company authorization"
          },
          "403": {
            "description": "This workflow does not allow API triggers (api_enabled is false)"
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/workflows/executions/{executionId}": {
      "get": {
        "summary": "Get execution data",
        "description": "Retrieve all data and steps for a specific execution. JWT required.\nWhen the workflow has a data_structure with file fields (including file sub-fields inside arrays), the response includes\n**signed_url** (and execution_data_mapped fields like `{field_name}_signed_url`) as\n**full proxy URLs** (same as /api/files/document?token=...), so clients can preview or download\nwithout hitting MinIO directly. Set BACKEND_URL in production so these URLs use your API origin.\n",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Super-admin/API-key only. Include archived executions."
          }
        ],
        "responses": {
          "200": {
            "description": "Execution with workflow, steps, logs, and execution_data (file URLs are full proxy URLs)"
          },
          "404": {
            "description": "Execution not found"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/data": {
      "put": {
        "summary": "Update execution data",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Map of field names to values to update"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data updated successfully"
          },
          "400": {
            "description": "Field names do not match structure"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/name": {
      "patch": {
        "summary": "Rename an execution",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution renamed successfully"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/logs": {
      "post": {
        "summary": "Add a log entry",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "log_text"
                ],
                "properties": {
                  "log_text": {
                    "type": "string"
                  },
                  "step_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "log_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log entry added successfully"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/steps/{stepId}": {
      "patch": {
        "summary": "Update execution step",
        "description": "Update an execution step (e.g. reassign).",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assignee_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step updated successfully"
          },
          "404": {
            "description": "Execution or step not found"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/steps/{stepId}/process": {
      "post": {
        "summary": "Process an automatic step",
        "description": "Manually trigger the processing of an automatic or agent step.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "InternalApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step processing completed"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/steps/{stepId}/complete": {
      "post": {
        "summary": "Complete a step",
        "description": "Mark a step as completed and advance the workflow.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "step_data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step completed and workflow advanced"
          }
        }
      }
    },
    "/workflows/executions/{executionId}/steps/{stepId}/decision": {
      "post": {
        "summary": "Make a decision",
        "description": "Record a decision for a decision node and advance the workflow.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision_choice"
                ],
                "properties": {
                  "decision_choice": {
                    "type": "string"
                  },
                  "decision_reason": {
                    "type": "string"
                  },
                  "decision_comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision recorded"
          }
        }
      }
    },
    "/files/documents/upload": {
      "post": {
        "summary": "Upload a document",
        "description": "Upload a file to the documents bucket (multipart). JWT required.",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "path": {
                    "type": "string",
                    "description": "Path within the bucket"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/files/workflows/executions/{executionId}/files": {
      "post": {
        "summary": "Upload a file for an execution",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "field_name"
                ],
                "properties": {
                  "field_name": {
                    "type": "string"
                  },
                  "file_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "file_base64": {
                    "type": "string"
                  },
                  "file_name": {
                    "type": "string"
                  },
                  "mime_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          }
        }
      }
    },
    "/files/upload": {
      "post": {
        "summary": "Upload an external file",
        "description": "Upload a file using a multi-part form and an external token.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "token"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          }
        }
      }
    },
    "/files/signed-url": {
      "post": {
        "summary": "Get a signed or proxy URL for file access",
        "description": "Returns a URL to access a file. **For the `documents` bucket** the response is a full proxy URL\n(e.g. `https://your-api/api/files/document?token=...`) that streams the file through the API;\nuse this for execution files and any document so clients never see internal MinIO URLs.\nFor other buckets, returns a MinIO/S3 presigned URL. Auth is optional (some callers use JWT or API key).\n",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucket",
                  "path"
                ],
                "properties": {
                  "bucket": {
                    "type": "string",
                    "description": "Bucket name (e.g. `documents` for execution/company documents)"
                  },
                  "path": {
                    "type": "string",
                    "description": "Path within the bucket"
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Expiration time in seconds (used only for non-documents buckets)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL retrieved. For documents bucket, signedUrl is a full proxy URL; otherwise a presigned URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "signedUrl"
                  ],
                  "properties": {
                    "signedUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Full URL for documents bucket (proxy); presigned URL for other buckets"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/document-url": {
      "post": {
        "summary": "Get a short-lived URL to stream a company document",
        "description": "Returns a full URL to stream a company document (preview or download). Used by Document Management.\nThe URL points to the API document proxy; token is short-lived (e.g. 5 minutes). JWT required;\nuser must have access to the file's folder.\n",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Company file ID (from folder/files)"
                  },
                  "download": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, response suggests attachment download"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document URL (full URL to stream via API)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "No access to this file's folder"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/files/{fileId}/ocr": {
      "get": {
        "summary": "Get OCR and AI metadata extraction status for a file",
        "description": "Returns OCR status and markdown when available. When an upload requested post-OCR Gemini extraction,\n`metadataAiExtractStatus` and related fields reflect progress (`pending`, `processing`, `completed`, `failed`).\n",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OCR payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ocrStatus"
                  ],
                  "properties": {
                    "ocrStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "ocrMarkdown": {
                      "type": "string",
                      "nullable": true
                    },
                    "ocrProcessedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "ocrProvider": {
                      "type": "string",
                      "nullable": true
                    },
                    "ocrModel": {
                      "type": "string",
                      "nullable": true
                    },
                    "ocrError": {
                      "type": "string",
                      "nullable": true
                    },
                    "ocrPendingMetadataKeyIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "nullable": true
                    },
                    "metadataAiExtractStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "metadataAiExtractError": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "File not found or OCR not started"
          }
        }
      }
    },
    "/files/document": {
      "get": {
        "summary": "Stream a document by token",
        "description": "Streams a document using a short-lived JWT in the query string. No auth header required;\nused for img/iframe/preview and download links returned by document-url or signed-url (documents bucket).\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Short-lived JWT containing path (and optional download flag)"
          }
        ],
        "responses": {
          "200": {
            "description": "File stream (Content-Type and Content-Disposition set by server)",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid token"
          },
          "401": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/files/workflows/executions/{executionId}/steps/{stepId}/process-file": {
      "post": {
        "summary": "Process a file step",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "InternalApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workflow_step_id"
                ],
                "properties": {
                  "workflow_step_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File step processed"
          },
          "400": {
            "description": "Missing workflow_step_id or invalid config (e.g. source file not configured)"
          },
          "404": {
            "description": "Workflow step, execution, or execution step not found"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get current user profile",
        "description": "Get current user, companies, and super_admin flag. JWT required.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "companies": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "super_admin": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "summary": "Update current user profile",
        "description": "Update full_name, notifications_enabled. JWT required.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "notifications_enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invitations/check-email": {
      "get": {
        "summary": "Check if email exists",
        "description": "For sign up vs sign in on accept page. No auth.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check result (e.g. exists boolean)"
          }
        }
      }
    },
    "/invitations/{token}": {
      "get": {
        "summary": "Get invitation by token",
        "description": "Get invitation details for accept page. No auth.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation details"
          },
          "404": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/invitations/{token}/accept": {
      "post": {
        "summary": "Accept an invitation",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted"
          }
        }
      }
    },
    "/invitations/{id}": {
      "delete": {
        "summary": "Cancel an invitation",
        "description": "Cancel a pending invitation. JWT, company admin.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation cancelled"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not company admin"
          }
        }
      }
    },
    "/companies": {
      "get": {
        "summary": "List companies",
        "description": "List companies the caller can access. With JWT, returns the user's companies (or all companies if the user is super_admin). With `x-super-admin-api-key` (server-side only), returns all companies. Accepts either Bearer JWT or Super Admin API key.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "SuperAdminApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies"
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "summary": "Get company",
        "description": "Get company details. With Super Admin API key (server-side), any company can be accessed without membership.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "SuperAdminApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Company admin/super-admin only. Include archived executions."
          }
        ],
        "responses": {
          "200": {
            "description": "Company details"
          },
          "404": {
            "description": "Company not found"
          }
        }
      },
      "patch": {
        "summary": "Update company",
        "description": "Update company (company admin or Super Admin API key). With Super Admin API key (server-side), any company can be updated.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "SuperAdminApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Company admin/super-admin only. Include steps from archived executions."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated"
          }
        }
      }
    },
    "/companies/{companyId}/executions": {
      "get": {
        "summary": "List executions",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of executions"
          }
        }
      }
    },
    "/companies/{companyId}/execution-steps": {
      "get": {
        "summary": "List execution steps",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of execution steps"
          }
        }
      }
    },
    "/companies/{companyId}/executions/{executionId}": {
      "delete": {
        "summary": "Archive execution",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Execution archived (soft delete)"
          }
        }
      }
    },
    "/companies/{companyId}/users": {
      "get": {
        "summary": "List company users",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company users"
          }
        }
      }
    },
    "/companies/{companyId}/users/{userId}": {
      "delete": {
        "summary": "Remove user from company",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User removed"
          }
        }
      }
    },
    "/companies/{companyId}/invitations": {
      "get": {
        "summary": "List company invitations",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invitations"
          }
        }
      },
      "post": {
        "summary": "Invite a user to a company",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role to assign (e.g. company_admin, user)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent"
          }
        }
      }
    },
    "/companies/{companyId}/workflow-categories": {
      "get": {
        "summary": "List workflow categories",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow categories"
          }
        }
      },
      "post": {
        "summary": "Create workflow category",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created"
          }
        }
      }
    },
    "/companies/{companyId}/workflow-categories/{categoryId}": {
      "patch": {
        "summary": "Update workflow category",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated"
          }
        }
      },
      "delete": {
        "summary": "Delete workflow category",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted"
          }
        }
      }
    },
    "/companies/{companyId}/groups": {
      "get": {
        "summary": "List groups",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups"
          }
        }
      },
      "post": {
        "summary": "Create group",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created"
          }
        }
      }
    },
    "/companies/{companyId}/groups/{groupId}": {
      "patch": {
        "summary": "Update group",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated"
          }
        }
      },
      "delete": {
        "summary": "Delete group",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group deleted"
          }
        }
      }
    },
    "/companies/{companyId}/my-group-ids": {
      "get": {
        "summary": "Get current user group IDs",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of group IDs"
          }
        }
      }
    },
    "/companies/{companyId}/group-members": {
      "get": {
        "summary": "List all group members in company",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of group members"
          }
        }
      }
    },
    "/companies/{companyId}/groups/{groupId}/members": {
      "get": {
        "summary": "List group members",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members"
          }
        }
      },
      "post": {
        "summary": "Add member to group",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added"
          }
        }
      }
    },
    "/companies/{companyId}/groups/{groupId}/members/by-profile/{profileId}": {
      "delete": {
        "summary": "Remove group member by profile",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          }
        }
      }
    },
    "/companies/{companyId}/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Remove group member",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          }
        }
      }
    },
    "/companies/{companyId}/api-configurations": {
      "get": {
        "summary": "List API configurations",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of API configurations"
          }
        }
      },
      "post": {
        "summary": "Create API configuration",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API configuration created"
          }
        }
      }
    },
    "/companies/{companyId}/api-configurations/{configId}": {
      "patch": {
        "summary": "Update API configuration",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API configuration updated"
          }
        }
      },
      "delete": {
        "summary": "Delete API configuration",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API configuration deleted"
          }
        }
      }
    },
    "/companies/{companyId}/global-variables": {
      "get": {
        "summary": "List global variables",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of global variables"
          }
        }
      },
      "post": {
        "summary": "Create global variable",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Global variable created"
          }
        }
      }
    },
    "/companies/{companyId}/global-variables/{variableId}": {
      "patch": {
        "summary": "Update global variable",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Global variable updated"
          }
        }
      },
      "delete": {
        "summary": "Delete global variable",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Global variable deleted"
          }
        }
      }
    },
    "/companies/{companyId}/folders": {
      "get": {
        "summary": "List folders",
        "description": "Returns folders for the given parent. User must belong to the company.\n**Access:** Only folders the user can access are returned. Company admins see all folders.\nFor root (no parent_folder_id or empty), only root folders are listed and filtered by permission\n(public roots or roots where the user has a user/group permission). For a non-root parent,\nreturns 403 if the user cannot access that parent; otherwise returns its children.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "parent_folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Omit or empty for root folders; set to a folder ID to list its children."
          }
        ],
        "responses": {
          "200": {
            "description": "List of folders (filtered by access)"
          },
          "403": {
            "description": "User does not have access to the requested parent folder"
          }
        }
      },
      "post": {
        "summary": "Create folder",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created"
          }
        }
      }
    },
    "/companies/{companyId}/folders/{folderId}": {
      "get": {
        "summary": "Get folder",
        "description": "Returns folder details. Returns 404 if the folder does not exist or the user has no access (same as not found).",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details"
          },
          "404": {
            "description": "Folder not found or user has no access"
          }
        }
      },
      "patch": {
        "summary": "Update folder",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated"
          }
        }
      },
      "delete": {
        "summary": "Delete folder",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted"
          }
        }
      }
    },
    "/companies/{companyId}/folders/{folderId}/upload": {
      "post": {
        "summary": "Upload document to folder",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document uploaded"
          },
          "403": {
            "description": "User does not have access to this folder, or write permission required to upload"
          }
        }
      }
    },
    "/companies/{companyId}/folders/{folderId}/permissions": {
      "get": {
        "summary": "List folder permissions",
        "description": "Lists permissions for a root folder only. Permissions can only be set on root folders. Requires company admin.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of folder permissions (user or group). permission_type read = view/download only; write = upload/delete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "folder_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "user_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                      },
                      "group_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                      },
                      "permission_type": {
                        "type": "string",
                        "enum": [
                          "read",
                          "write"
                        ]
                      },
                      "user": {
                        "type": "object",
                        "nullable": true
                      },
                      "group": {
                        "type": "object",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Permissions can only be set on root folders"
          },
          "403": {
            "description": "Company admin required"
          },
          "404": {
            "description": "Folder not found"
          }
        }
      },
      "post": {
        "summary": "Add folder permission",
        "description": "Add a user or group permission on a root folder. Requires company admin. Provide exactly one of user_id or group_id. read = list/open folder, view and download files only; write = read + upload and delete files.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "User to grant access (use exactly one of user_id or group_id)"
                  },
                  "group_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Group to grant access (use exactly one of user_id or group_id)"
                  },
                  "permission_type": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write"
                    ],
                    "default": "read"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Permission created"
          },
          "400": {
            "description": "Provide exactly one of user_id or group_id; or permission already exists"
          },
          "403": {
            "description": "Company admin required"
          },
          "404": {
            "description": "Folder not found"
          }
        }
      }
    },
    "/companies/{companyId}/folders/{folderId}/permissions/{permissionId}": {
      "delete": {
        "summary": "Delete folder permission",
        "description": "Remove a permission from a root folder. Requires company admin.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Permission deleted"
          },
          "403": {
            "description": "Company admin required"
          },
          "404": {
            "description": "Permission or folder not found"
          }
        }
      }
    },
    "/companies/{companyId}/files": {
      "get": {
        "summary": "List company files",
        "description": "Returns files in a folder or by a list of IDs. User must belong to the company.\n**Access:** When folder_id is set, returns 403 if the user cannot access that folder.\nWhen ids is set (e.g. after metadata search), only files in folders the user can access are returned.\nCompany admins can access all folders.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List files in this folder. Omit or empty for root (returns no files; use folders to browse)."
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated file IDs (e.g. from by-metadata). Only files in accessible folders are returned."
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Company admin/super-admin only. Include archived files."
          }
        ],
        "responses": {
          "200": {
            "description": "List of files (filtered by folder access when using ids)"
          },
          "403": {
            "description": "User does not have access to this folder"
          }
        }
      },
      "post": {
        "summary": "Create file record",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File record created"
          }
        }
      }
    },
    "/companies/{companyId}/files/by-metadata": {
      "get": {
        "summary": "Get file IDs by metadata",
        "description": "Returns file IDs matching the given metadata key (and optional value). Used for metadata search.\n**Access:** Only file IDs for files in folders the user can access are returned. Company admins see all matches.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "metadata_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object with fileIds array (only files in accessible folders)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fileIds"
                  ],
                  "properties": {
                    "fileIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/documents/upload": {
      "post": {
        "summary": "Upload flat documents (no folder)",
        "description": "Multipart upload with field `file` repeated 1–25 times. Optional JSON string field `metadata` (array of `{key_id, value}`) applied to each created file.\nSet `ocr` to the string `true` to queue OCR per file.\nWhen `ocr` is `true`, optional JSON string `extractMetadataKeyIds` (array of metadata key UUIDs) queues Gemini metadata extraction on the server after OCR completes (same as manual extract).\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more files (max 25), same field name repeated"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON array of { key_id, value }"
                  },
                  "ocr": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When `true`, OCR is queued for each uploaded file"
                  },
                  "extractMetadataKeyIds": {
                    "type": "string",
                    "description": "JSON array of metadata key UUIDs; only used when `ocr` is `true`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Files created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "files"
                  ],
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "storage_path",
                          "mime_type",
                          "size_bytes",
                          "ocr_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "storage_path": {
                            "type": "string"
                          },
                          "mime_type": {
                            "type": "string"
                          },
                          "size_bytes": {
                            "type": "integer"
                          },
                          "ocr_status": {
                            "type": "string",
                            "nullable": true
                          },
                          "metadata_ai_extract_status": {
                            "type": "string",
                            "nullable": true,
                            "description": "When set at upload with extract keys, tracks pending/processing/completed/failed"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or no files"
          },
          "403": {
            "description": "No write access"
          }
        }
      }
    },
    "/companies/{companyId}/documents/split-pdf/auto": {
      "post": {
        "summary": "Auto split a PDF using a split preset",
        "description": "Upload a PDF, automatically run OCR, propose a split with Gemini using the chosen preset, accept the proposition, and create the split PDFs.\nOptions can queue OCR for created PDFs and optionally delete the original uploaded file.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "presetId"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The PDF file to split"
                  },
                  "presetId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The split preset to use"
                  },
                  "runOcr": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When `true` (default), OCR is run on the uploaded source PDF before proposing a split"
                  },
                  "keepOriginalFile": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When `true`, keep the uploaded source file; default is `false` (delete after split)"
                  },
                  "ocrCreatedFiles": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When `true` (default), OCR is queued on each created split PDF"
                  },
                  "currentDate": {
                    "type": "string",
                    "description": "Optional yyyy-mm-dd reference date for the model"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Split files created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "created",
                    "removedOriginal",
                    "ocrQueued",
                    "segments",
                    "pageCount",
                    "sourceFileId"
                  ],
                  "properties": {
                    "created": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "removedOriginal": {
                      "type": "boolean",
                      "description": "Whether the uploaded source file was deleted (when keepOriginalFile is false)"
                    },
                    "ocrQueued": {
                      "type": "boolean",
                      "description": "Whether OCR was queued for created files (when ocrCreatedFiles is true)"
                    },
                    "segments": {
                      "type": "array",
                      "description": "Accepted segments (Gemini proposition auto-accepted)",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "start_page",
                          "end_page"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "start_page": {
                            "type": "integer"
                          },
                          "end_page": {
                            "type": "integer"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "pageCount": {
                      "type": "integer"
                    },
                    "sourceFileId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "warningCode": {
                      "type": "string",
                      "nullable": true,
                      "description": "Optional warning (e.g. original_remove_failed)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, OCR/proposition failed, or split validation failed"
          },
          "403": {
            "description": "No write access"
          },
          "404": {
            "description": "Preset not found"
          }
        }
      }
    },
    "/companies/{companyId}/documents/extract-metadata-from-ocr": {
      "post": {
        "summary": "Extract metadata from OCR using Gemini",
        "description": "Requires OCR completed (`ocr_status` completed and `ocr_markdown` present). Fills selected metadata keys using the same model as Split PDF.\n",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId",
                  "metadataKeyIds"
                ],
                "properties": {
                  "fileId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "metadataKeyIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "currentDate": {
                    "type": "string",
                    "description": "Optional yyyy-mm-dd reference date for the model"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Applied non-empty values (keyed by metadata key id)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "values"
                  ],
                  "properties": {
                    "values": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OCR not ready, invalid keys, or validation failed"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/companies/{companyId}/files/{fileId}/metadata": {
      "put": {
        "summary": "Update file metadata",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "key",
                        "value"
                      ],
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Metadata key name"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated"
          },
          "400": {
            "description": "Invalid value for a predefined-list key"
          }
        }
      }
    },
    "/companies/{companyId}/files/{fileId}": {
      "delete": {
        "summary": "Delete company file",
        "description": "Deletes the file. Returns 403 if the user does not have access to the file's folder or does not have write permission on that folder.",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          },
          "403": {
            "description": "User does not have access to the file's folder"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/companies/{companyId}/agent-permissions": {
      "get": {
        "summary": "List agent permissions",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent permissions"
          }
        }
      },
      "post": {
        "summary": "Add agent permission",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Permission added"
          }
        }
      }
    },
    "/companies/{companyId}/agent-permissions/{permissionId}": {
      "patch": {
        "summary": "Update agent permission",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permission updated"
          }
        }
      },
      "delete": {
        "summary": "Delete agent permission",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission deleted"
          }
        }
      }
    },
    "/companies/{companyId}/data-tables": {
      "get": {
        "summary": "List data tables",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of data tables"
          }
        }
      },
      "post": {
        "summary": "Create data table",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data table created"
          }
        }
      }
    },
    "/companies/{companyId}/data-tables/{tableId}": {
      "patch": {
        "summary": "Update data table",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data table updated"
          }
        }
      },
      "delete": {
        "summary": "Delete data table",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data table deleted"
          }
        }
      }
    },
    "/companies/{companyId}/data-tables/{tableId}/copy": {
      "post": {
        "summary": "Copy data table",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Data table copied"
          }
        }
      }
    },
    "/companies/{companyId}/data-tables/{tableId}/fields": {
      "get": {
        "summary": "List data table fields",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields"
          }
        }
      },
      "post": {
        "summary": "Create data table field",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
[...]
